<div class="container">
  <h1>Step 1: Choose your Model and Color</h1>
  <div class="row align-items-center">
    <div *ngIf="models$ | async as models" class="col">
      <label class="col-form-label">Model:</label>
      <select (change)="modelSelected()" [(ngModel)]="selectedModel">
        <option [ngValue]="null" selected value>Choose...</option>
        <option *ngFor="let model of models" [ngValue]="model">
          {{model.description}}
        </option>
      </select>
    </div>
    <div *ngIf="selectedModel && true" class="col">
      <label class="col-form-label">Color:</label>
      <select [(ngModel)]="selectedColor" class="form-control">
        <option *ngFor="let color of colors" [ngValue]="selectedColor || color">
          {{color.description}}
        </option>
      </select>
    </div>
  </div>
</div>
