<div *ngIf="data$ | async as data; else nodata" class="container">
  <h1>Step 2: Select you config and options</h1>
  <div>
    <label>Config:</label>
    <select (change)="configSelected()" [(ngModel)]="selectedConfig" id="configSelect">
      <option [ngValue]="null">Choose...</option>
      <option *ngFor="let config of data.configs" [ngValue]="config" >
        {{config.description}}
      </option>
    </select>
  </div>
  <div *ngIf="!!selectedConfig">
    <p>Range: {{selectedConfig.range}} miles - Max speed: {{selectedConfig.speed}} - Cost: {{selectedConfig.price | currency: 'USD' }}</p>
  </div>
  <div *ngIf="data.towHitch">
    <label>Tow hitch?</label>
    <input (change)="towSelected()" [formControl]="checkboxTow" id="includeTow" type="checkbox">
  </div>
  <div *ngIf="data.yoke">
    <label>Yoke steering wheel?</label>
    <input (change)="wheelSelected()" [formControl]="checkboxWheel" id="includeYoke" type="checkbox">
  </div>
</div>
<app-display-car-image></app-display-car-image>
<ng-template #nodata>No data to show.</ng-template>

