<div class="container">
  <h1>Step 3: Summary</h1>
  <h3>Your Tesla {{data.model?.description}}</h3>
  <div class="container-flex">
    <div>{{ data.config?.description }}</div>
    <div>{{ data.config?.price | currency: 'USD' }}</div>
  </div>
  <p>Range: {{data.config?.range}} miles - Max speed: {{data.config?.speed}}</p>
  <div class="container-flex">
    <div>{{data.color?.description}} Color</div>
    <div *ngIf="showColorPrice()">{{ calculateColorPrice() | currency: 'USD' }}</div>
  </div>
  <div *ngIf="data.tow" class="container-flex">
    <div>Tow Hitch Package</div>
    <div *ngIf="showTowPrice()">{{ getTowPrice() | currency: 'USD' }}</div>
  </div>
  <div *ngIf="data.wheel" class="container-flex">
    <div>Yoke Steering Wheel Package</div>
    <div *ngIf="showWheelPrice()">{{ getWheelPrice() | currency: 'USD' }}</div>
  </div>
  <hr />
  <div class="container-flex">
    <div>{{ ("Total Cost") | uppercase }}</div>
    <div>{{getTotalCost() | currency: 'USD' }}</div>
  </div>
  <hr />
</div>
<app-display-car-image></app-display-car-image>
