.main {
  --nav-bg-color: #2a2929;

  .content {
    nav {
      display: flex;
      flex-wrap: wrap;
      border: 0;

      a {
        color: white;
        flex-grow: 1;
        text-align: center;

        &:hover {
          opacity: 0.6;
          transition: 0.3s;
          background: var(--nav-bg-color);
        }

        &.active {
          background: var(--nav-bg-color);
        }
      }
    }
  }
}
